.home {
    padding: 0;
    margin: 0;

}

.back_img {
    background-image: url("../../static/home/background.jpg");
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -140;

    &::after{
        background-color: rgba(black , 0.8);
        content: "         ";
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -130;
    }

}


.home h1 {
    color: white;
    padding: 10rem 0 0 0;
    font-size: 3.5rem;
}

.home button {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    border : 1px solid white;
    background: none;
    margin: 20vh 0 0 0;
    cursor: pointer;
    border-radius: 4px;
}

 